@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url('fonts/idroid.otf') format('opentype');
}

:root { /*Variables*/
    --color1:#87e187c3;
    --color2: #3FD95F;
    --color3: #2a8a3d;
    --color4:#49FCA0;
    --colorb1: rgba(0, 0, 0, 0.405);
    --boxcolor1: rgba(40, 82, 29, 0.616);
    --Idroidfont: Idroid, sans-serif;
}

body, p{
    margin: 0px;
    background-color: var(--color1);
    line-height: 1.8em;
}

/*header----------------------------------------------------------------------------------------------------*/
header{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom, var(--color2), var(--color3));
    box-shadow: 0px 1px 5px var(--colorb1);
}

header > h1 {
    margin: 0px;
    padding-top: 10px;
    text-align: center;
    font-family: var(--Idroidfont);
    font-size: 40px;
    text-shadow: 2px 2px 0px var(--boxcolor1);
}

header > h2 {
    margin: 0px;
    padding: 3px 0px 20px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 1px var(--boxcolor1);
}

section > div {
    display: inline;
    padding: 10px 1px 5px 10px;
    font-family: var(--Idroidfont);
}

section > div#home {
    margin-left: 10px;
}

section > div#fc {
    padding-right: 8px;
}

section > div:hover{
    display: inline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:var(--color4);
    
}
/*main----------------------------------------------------------------------------------------------------*/
main {
    background-color: white;
    max-width: 925px;
    min-width: 450px;
    margin:auto;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
    font-family: sans-serif;
    box-shadow: 0px 0px 3px var(--boxcolor1);
}

h3#first {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 27px;
    font-family: var(--Idroidfont);
}

section > h4 {
    background-image: linear-gradient(to right, var(--color1), white);
    margin-bottom: 10px;
    font-size: 20px;
    font-family: var(--Idroidfont);
}

section > p, main > p {
    background-color: white;
}

picture > img, picture > source{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

picture{
    text-align: center;
}

/*footer----------------------------------------------------------------------------------------------------*/
footer {
    background-image: linear-gradient(to bottom,var(--color3),black,black,black, black);
    border-top:1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-family: sans-serif;
}

footer > div {
    font-family: sans-serif;
}

div#social{
    padding-top: 30px;
    text-align: center;
}

.logo{
    display: inline-block;
    margin-right: 10px;
    width: 30px;
}

footer > div#content {
    font-family: var(--Idroidfont);
    font-size: 10px;
    padding: 15px 0px 10px 0px;
}

div#content > p{
    text-align: center;
    background-color: black;
}