@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*This is used mainly if the device doesn't have a specific font to have the browser try with another and if you put the type of the font (in this example sans-serif), the device will try the first sans-serif font it has available.(same for serif, monospace, handwriting, display)*/
    font-size: 1em;
    /*em- has to do with the size of the uppercase of the font 
    ex- has to do with the size of the lowercase of the font
    */
    font-weight: bold;
    /*has to do with the thickness of the font, some fonts have, others don't*/
    font-style: italic;
    text-decoration: overline; /*the font has to support this two settings*/
    /*You can do them separated or combined(in this order: style > weight > size > family) it is called "shorthand"*/
    /*font: italic bold 1em sans-serif*/
    
}

body {
    background-image: linear-gradient(to left, #EB2896, #EB33F2, #A839DB, #8133F2, #4931E8);
}

main {
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px #9d2669;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #4931E8;
    text-shadow: #4931e894;
}

h2 {
    color: #8133F2;
}

p {
    color: #A839DB;
    text-align: justify;
}